.boxs {
  display: flex;
  flex-wrap: wrap;
 margin-left: 20%;
  position: relative;
  margin-bottom: 3rem;
}
.box{
  margin-bottom: 2rem;
  margin-right: 0.3rem;
}
#images {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.btn-load {
  margin-top: 25%;
  margin-left: 45%;
  margin-bottom: 8rem;
  position: absolute;
  cursor: pointer;
  border: none;
  padding: 1rem 2rem;
  background-color: #3498db;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.btn-active {
 
  margin-top: 0;
  position: relative;
  margin-left: 43rem;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  margin-left: 30%;
  margin-top: 10%;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:450px) {
.boxs{
  display: block;
  margin-left: 0;
}
.box{
  margin-left: 2rem;
}
.loader{
  margin-left: 28%;
}
.btn-load{
  margin-left: 30vw;
}
}
